
h1{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 40px;
  margin-top: 2%;
}

.filter{
  background: #eaeae4;
  padding: 1% 0 1% 1%;
}

.card{
  display: flex;
  width: 100%;
  /*padding-right: 2%;*/
}
.card .card-left{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  width: 80%;
  margin-left: -50px;
}

.card .card-left .example-card{
  /*max-width: 25%;*/
  width: 25%;
  margin-left: 50px;
  border-radius: 0;
  margin-bottom: 3%;
}

.card .card-right{
  display: flex;
  flex-wrap: wrap;
  /*align-items: end;*/
  margin-left: 15%;
  width: 20%;
  margin-top: 3%;
}

.card .card-right .container{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  margin-top: 3%;
}
.card .card-right .card-login .box{
  display: flex;
  flex-wrap: wrap;
  margin: 5%
}


.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-login{
  border: 1px solid #d8d8cf;
  background: #ffffff;
  margin-bottom: 44%;
}

.button-style{
  display: flex;
  background: #eaeae4;
  padding: 4% 0 4% 4%;
}

.card-button{
  background: #eaeae4;
  color: #1046d7;
  padding: -1px;
}
